<div class="space-y-5 px-10">

  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: "mb-7") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div>
      <%= f.label :email, class: "font-bold text-white text-2xl" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "inline-block w-96 px-3 py-2 mt-2 shadow rounded-md border border-gray-200 outline-none" %>
    </div><br/>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "btn py-2 ml-2 bg-orange-600 text-white" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
